:root{
    --background:white;
    --foreground:black;
    --active:lightgray;
    --form-size: 3rem;
}

html, body{
    font-family: 'Yatra One', sans-serif;
    font-size: 40px;
    line-height: 3.5em;
    display: grid;
    min-height: 100vh;
    padding: 0;
    margin: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
     -khtml-user-select: none;   /* Konqueror HTML */
       -moz-user-select: none;   /* Old versions of Firefox */
        -ms-user-select: none;   /* Internet Explorer/Edge */
            user-select: none;   /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    transition: all 0.5s;
    color:var(--background);
    background-color: var(--background);
}

body.print {
    color:var(--foreground);
}


body.complete{
    background-color: var(--foreground);
}

body.complete label{
    color:var(--foreground);
}

body.complete input[type=text]{
    color: var(--background);
    width:auto;
}


.madlib{
    width: 60vw;
    margin: auto;
    padding-bottom: 1rem;

    animation-duration: 5s;
    /* animation-name: fontflip; */
    animation-iteration-count: infinite;

    font-family: 'Yatra One', sans-serif;
}

@keyframes fontflip {
    0%{
        font-weight: 100;
    }

    25%{
        font-weight: 900;
    }
  
    50%{
        font-weight: 200;
    }

    75%{
        font-weight: 600;
    }

    100%{
        font-weight: 300;
    }
  }

label {
    position: absolute;
    top:2.7rem;
    left:0;
    right:0;
    text-align:center;
    font-size: .3rem;
    line-height: .3rem;
    color: var(--foreground);
}
form{
    position: relative;
    display: inline-block;
}

input[type=text] {
    font-size: 1rem;
    font-family:inherit;
    width: calc( var(--form-size) + .1rem);
    padding-left:.1rem;
    box-sizing: border-box;
    border-width: 0;
    border-bottom: 2px solid var(--foreground);
    background: transparent;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    outline: none;
}
    
input[type=text]:focus {
    border-bottom: 2px solid var(--active);
}

.filled{
    /* none yet */
}

span {
    position: absolute;
    left: -9999px;
    display: inline-block;
    padding-left: .1em;
    min-width: calc( var(--form-size) + .2rem);
}

/* .filled{
    background-color: black;
    
}

.filled .madlib{
    color: white;
}

.filled input[type=text]{
    color: white;
}

.filled label{
    color:black;
} */




@media (max-width: 668px) {
    body{
        line-height: 1.7rem;
    }
    label{
        top: 1.5rem;

    }
    input[type=text] {
        max-height: 1rem;
        display: inline-block;
    }
}


@media screen and (min-width: 668px) and (max-width: 768px) {
    html, body{
        line-height: 2rem;
        font-size: 56px;
    }
    label{
        top: 1.7rem;

    }
    input[type=text] {
        max-height: 1rem;
        display: inline-block;
    }
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
    html, body{
        line-height: 1.9rem;
        font-size: 56px;
    }
    label{
        top: 1.6rem;

    }
    input[type=text] {
        max-height: 1rem;
        display: inline-block;
    }
}



@media print {

    @page {
        size: 11in 17in;
    }
      
    html{
        font-size: 40px;
        line-height: 2.7rem;
        font-family: 'Yatra One';
    }

    .madlib {
        font-family: 'Yatra One';
        width: 6in;
        margin: auto;
        margin-top: 2.5in;
    }

    label {
        top:2.8rem;
    }
 }
